In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

# 2-feature-engineering

Dane pochodzÄ… z:
* https://www.kaggle.com/austinreese/craigslist-carstrucks-data
* https://github.com/AustinReese/UsedVehicleSearch

In [2]:
df = pd.read_csv('../data/interim/vehicles.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169852 entries, 0 to 169851
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   condition     169852 non-null  object
 1   cylinders     169852 non-null  object
 2   drive         169852 non-null  object
 3   fuel          169852 non-null  object
 4   manufacturer  169852 non-null  object
 5   odometer      169852 non-null  float64
 6   paint_color   169852 non-null  object
 7   price         169852 non-null  int64
 8   transmission  169852 non-null  object
 9   type          169852 non-null  object
 10  year          169852 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 14.3+ MB

In [4]:
df['year'] = 2020 - df['year']  # Zmiana na wiek
df['year'].describe()

count    169852.000000
mean          8.643631
std           4.976154
min           1.000000
25%           5.000000
50%           8.000000
75%          12.000000
max          20.000000
Name: year, dtype: float64

In [5]:
df.shape

(169852, 11)

In [6]:
dfs = [df]
to_delete = list()
for col in df.select_dtypes('object'):
    dfs.append(pd.get_dummies(df[[col]], drop_first=True))
    to_delete.append(col)

In [7]:
df = pd.concat(dfs, axis=1)

In [8]:
df.drop(to_delete, axis=1, inplace=True)

In [9]:
sorted(df.columns)

['condition_fair',
 'condition_good',
 'condition_like new',
 'condition_new',
 'cylinders_12 cylinders',
 'cylinders_3 cylinders',
 'cylinders_4 cylinders',
 'cylinders_5 cylinders',
 'cylinders_6 cylinders',
 'cylinders_8 cylinders',
 'cylinders_other',
 'drive_fwd',
 'drive_rwd',
 'fuel_electric',
 'fuel_gas',
 'fuel_hybrid',
 'fuel_other',
 'manufacturer_audi',
 'manufacturer_bmw',
 'manufacturer_buick',
 'manufacturer_cadillac',
 'manufacturer_chevrolet',
 'manufacturer_chrysler',
 'manufacturer_dodge',
 'manufacturer_ford',
 'manufacturer_gmc',
 'manufacturer_honda',
 'manufacturer_hyundai',
 'manufacturer_infiniti',
 'manufacturer_jaguar',
 'manufacturer_jeep',
 'manufacturer_kia',
 'manufacturer_lexus',
 'manufacturer_lincoln',
 'manufacturer_mazda',
 'manufacturer_mercedes-benz',
 'manufacturer_mini',
 'manufacturer_mitsubishi',
 'manufacturer_nissan',
 'manufacturer_pontiac',
 'manufacturer_ram',
 'manufacturer_rover',
 'manufacturer_subaru',
 'manufacturer_toyota',
 'manufacturer_volkswagen',
 'manufacturer_volvo',
 'odometer',
 'paint_color_blue',
 'paint_color_brown',
 'paint_color_custom',
 'paint_color_green',
 'paint_color_grey',
 'paint_color_orange',
 'paint_color_purple',
 'paint_color_red',
 'paint_color_silver',
 'paint_color_white',
 'paint_color_yellow',
 'price',
 'transmission_manual',
 'transmission_other',
 'type_bus',
 'type_convertible',
 'type_coupe',
 'type_hatchback',
 'type_mini-van',
 'type_offroad',
 'type_other',
 'type_pickup',
 'type_sedan',
 'type_truck',
 'type_van',
 'type_wagon',
 'year']

In [10]:
df.shape

(169852, 74)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169852 entries, 0 to 169851
Data columns (total 74 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   odometer                    169852 non-null  float64
 1   price                       169852 non-null  int64
 2   year                        169852 non-null  float64
 3   condition_fair              169852 non-null  uint8
 4   condition_good              169852 non-null  uint8
 5   condition_like new          169852 non-null  uint8
 6   condition_new               169852 non-null  uint8
 7   cylinders_12 cylinders      169852 non-null  uint8
 8   cylinders_3 cylinders       169852 non-null  uint8
 9   cylinders_4 cylinders       169852 non-null  uint8
 10  cylinders_5 cylinders       169852 non-null  uint8
 11  cylinders_6 cylinders       169852 non-null  uint8
 12  cylinders_8 cylinders       169852 non-null  uint8
 13  cylinders_other             169852 non-null  uint8
 14  drive_fwd                   169852 non-null  uint8
 15  drive_rwd                   169852 non-null  uint8
 16  fuel_electric               169852 non-null  uint8
 17  fuel_gas                    169852 non-null  uint8
 18  fuel_hybrid                 169852 non-null  uint8
 19  fuel_other                  169852 non-null  uint8
 20  manufacturer_audi           169852 non-null  uint8
 21  manufacturer_bmw            169852 non-null  uint8
 22  manufacturer_buick          169852 non-null  uint8
 23  manufacturer_cadillac       169852 non-null  uint8
 24  manufacturer_chevrolet      169852 non-null  uint8
 25  manufacturer_chrysler       169852 non-null  uint8
 26  manufacturer_dodge          169852 non-null  uint8
 27  manufacturer_ford           169852 non-null  uint8
 28  manufacturer_gmc            169852 non-null  uint8
 29  manufacturer_honda          169852 non-null  uint8
 30  manufacturer_hyundai        169852 non-null  uint8
 31  manufacturer_infiniti       169852 non-null  uint8
 32  manufacturer_jaguar         169852 non-null  uint8
 33  manufacturer_jeep           169852 non-null  uint8
 34  manufacturer_kia            169852 non-null  uint8
 35  manufacturer_lexus          169852 non-null  uint8
 36  manufacturer_lincoln        169852 non-null  uint8
 37  manufacturer_mazda          169852 non-null  uint8
 38  manufacturer_mercedes-benz  169852 non-null  uint8
 39  manufacturer_mini           169852 non-null  uint8
 40  manufacturer_mitsubishi     169852 non-null  uint8
 41  manufacturer_nissan         169852 non-null  uint8
 42  manufacturer_pontiac        169852 non-null  uint8
 43  manufacturer_ram            169852 non-null  uint8
 44  manufacturer_rover          169852 non-null  uint8
 45  manufacturer_subaru         169852 non-null  uint8
 46  manufacturer_toyota         169852 non-null  uint8
 47  manufacturer_volkswagen     169852 non-null  uint8
 48  manufacturer_volvo          169852 non-null  uint8
 49  paint_color_blue            169852 non-null  uint8
 50  paint_color_brown           169852 non-null  uint8
 51  paint_color_custom          169852 non-null  uint8
 52  paint_color_green           169852 non-null  uint8
 53  paint_color_grey            169852 non-null  uint8
 54  paint_color_orange          169852 non-null  uint8
 55  paint_color_purple          169852 non-null  uint8
 56  paint_color_red             169852 non-null  uint8
 57  paint_color_silver          169852 non-null  uint8
 58  paint_color_white           169852 non-null  uint8
 59  paint_color_yellow          169852 non-null  uint8
 60  transmission_manual         169852 non-null  uint8
 61  transmission_other          169852 non-null  uint8
 62  type_bus                    169852 non-null  uint8
 63  type_convertible            169852 non-null  uint8
 64  type_coupe                  169852 non-null  uint8
 65  type_hatchback              169852 non-null  uint8
 66  type_mini-van               169852 non-null  uint8
 67  type_offroad                169852 non-null  uint8
 68  type_other                  169852 non-null  uint8
 69  type_pickup                 169852 non-null  uint8
 70  type_sedan                  169852 non-null  uint8
 71  type_truck                  169852 non-null  uint8
 72  type_van                    169852 non-null  uint8
 73  type_wagon                  169852 non-null  uint8
dtypes: float64(2), int64(1), uint8(71)
memory usage: 15.4 MB

In [12]:
df.to_csv('../data/processed/vehicles.csv', index=False)

In [13]:
del df