In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

# 3-data-splitting

Dane pochodzÄ… z:
* https://www.kaggle.com/austinreese/craigslist-carstrucks-data
* https://github.com/AustinReese/UsedVehicleSearch

In [2]:
df = pd.read_csv('../data/processed/vehicles.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169852 entries, 0 to 169851
Data columns (total 74 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   odometer                    169852 non-null  float64
 1   price                       169852 non-null  int64
 2   year                        169852 non-null  float64
 3   condition_fair              169852 non-null  int64
 4   condition_good              169852 non-null  int64
 5   condition_like new          169852 non-null  int64
 6   condition_new               169852 non-null  int64
 7   cylinders_12 cylinders      169852 non-null  int64
 8   cylinders_3 cylinders       169852 non-null  int64
 9   cylinders_4 cylinders       169852 non-null  int64
 10  cylinders_5 cylinders       169852 non-null  int64
 11  cylinders_6 cylinders       169852 non-null  int64
 12  cylinders_8 cylinders       169852 non-null  int64
 13  cylinders_other             169852 non-null  int64
 14  drive_fwd                   169852 non-null  int64
 15  drive_rwd                   169852 non-null  int64
 16  fuel_electric               169852 non-null  int64
 17  fuel_gas                    169852 non-null  int64
 18  fuel_hybrid                 169852 non-null  int64
 19  fuel_other                  169852 non-null  int64
 20  manufacturer_audi           169852 non-null  int64
 21  manufacturer_bmw            169852 non-null  int64
 22  manufacturer_buick          169852 non-null  int64
 23  manufacturer_cadillac       169852 non-null  int64
 24  manufacturer_chevrolet      169852 non-null  int64
 25  manufacturer_chrysler       169852 non-null  int64
 26  manufacturer_dodge          169852 non-null  int64
 27  manufacturer_ford           169852 non-null  int64
 28  manufacturer_gmc            169852 non-null  int64
 29  manufacturer_honda          169852 non-null  int64
 30  manufacturer_hyundai        169852 non-null  int64
 31  manufacturer_infiniti       169852 non-null  int64
 32  manufacturer_jaguar         169852 non-null  int64
 33  manufacturer_jeep           169852 non-null  int64
 34  manufacturer_kia            169852 non-null  int64
 35  manufacturer_lexus          169852 non-null  int64
 36  manufacturer_lincoln        169852 non-null  int64
 37  manufacturer_mazda          169852 non-null  int64
 38  manufacturer_mercedes-benz  169852 non-null  int64
 39  manufacturer_mini           169852 non-null  int64
 40  manufacturer_mitsubishi     169852 non-null  int64
 41  manufacturer_nissan         169852 non-null  int64
 42  manufacturer_pontiac        169852 non-null  int64
 43  manufacturer_ram            169852 non-null  int64
 44  manufacturer_rover          169852 non-null  int64
 45  manufacturer_subaru         169852 non-null  int64
 46  manufacturer_toyota         169852 non-null  int64
 47  manufacturer_volkswagen     169852 non-null  int64
 48  manufacturer_volvo          169852 non-null  int64
 49  paint_color_blue            169852 non-null  int64
 50  paint_color_brown           169852 non-null  int64
 51  paint_color_custom          169852 non-null  int64
 52  paint_color_green           169852 non-null  int64
 53  paint_color_grey            169852 non-null  int64
 54  paint_color_orange          169852 non-null  int64
 55  paint_color_purple          169852 non-null  int64
 56  paint_color_red             169852 non-null  int64
 57  paint_color_silver          169852 non-null  int64
 58  paint_color_white           169852 non-null  int64
 59  paint_color_yellow          169852 non-null  int64
 60  transmission_manual         169852 non-null  int64
 61  transmission_other          169852 non-null  int64
 62  type_bus                    169852 non-null  int64
 63  type_convertible            169852 non-null  int64
 64  type_coupe                  169852 non-null  int64
 65  type_hatchback              169852 non-null  int64
 66  type_mini-van               169852 non-null  int64
 67  type_offroad                169852 non-null  int64
 68  type_other                  169852 non-null  int64
 69  type_pickup                 169852 non-null  int64
 70  type_sedan                  169852 non-null  int64
 71  type_truck                  169852 non-null  int64
 72  type_van                    169852 non-null  int64
 73  type_wagon                  169852 non-null  int64
dtypes: float64(2), int64(72)
memory usage: 95.9 MB

In [4]:
y = df['price']

In [5]:
df.drop('price', axis=1, inplace=True)
X = df

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [7]:
X_train.to_csv('../data/processed/train_features.csv', index=False)
print(X_train.shape)

(113800, 73)

In [8]:
X_test.to_csv('../data/processed/test_features.csv', index=False)
print(X_test.shape)

(56052, 73)

In [9]:
y_train.to_csv('../data/processed/train_target.csv', index=False)
print(y_train.shape)

(113800,)

In [10]:
y_test.to_csv('../data/processed/test_target.csv', index=False)
print(y_test.shape)

(56052,)

In [11]:
del df
del X_train
del X_test
del y_train
del y_test